<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<!-- Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Chromia</title>
</head>
<body>
<div id="page_wrapper">
<div id="header_wrapper">

<div id="header"> 
</div>

<div id="navcontainer">

<ul id="navlist">
{% block main_menu %}
	<li id="active"><a href="#" id="current">Item one</a></li>
	<li><a href="#">Item two</a></li>
{% endblock %}
</ul>
</div>

</div>


<div id="left_side">

{% block left_menu %}
    <h3>{{ left_menu.parent_cat_selected.title }}</h3>
{% endblock %}

</div>


<div id="content">

{% block content %}
<h3>Bla bla bla</h3>

<div class='featurebox_center'>
Content
</div>

{% endblock %}
</div>


{% block git_log %}
	{% for item in gitlog reversed %}		
      		<li>{{item.commit_date}} - {{ item.autor}} {{item.cmt}}</li>
	{% endfor %}
{% endblock %}

<div id="footer">
{% block footer_right %}
	<a href="#">Link One</a> | 
{% endblock %}  
</div>

</div>


</body>
</html>
