<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Chromia Community</title>
<link rel="stylesheet" type="text/css" href="/web/css/style.css" media="screen" />
</head>
<body>
<div id="header">
<h1>Chromia - The universal file converter</h1>
 <div id="menu">
  <ul id="nav">
   {% block main_menu %}
       <li id="active"><a href="#" id="current">Item one</a></li>
       <li><a href="#">Item two</a></li>
   {% endblock %}
  </ul>
 </div>
</div>
<div id="content">
<div id="right">
 
{% block builds %}
		{% if builds %}		
		
		<h1>Debian packages</h1>
		<table>
		<tr>
			<th style="padding:0px 150px 0px 10px">Build date</th>
			<th style="padding:0px 50px 0px 10px">Version</th>
			<th style="padding:0px 50px 0px 10px">Size</th>
			<th style="padding:0px 50px 0px 10px">Md5 sum</th>
			<th style="padding:0px 50px 0px 150px">Download</th>		
					
		</tr>
       {% for item in builds reversed %}                
                 <tr>
                 	<td  nowrap="nowrap">{{item.build_date}}</td>
                 	<td nowrap="nowrap">{{ item.version_id}}</td>
                 	<td>{{item.file_size}} B</td>
                 	<td nowrap="nowrap">{{item.md5sum}}</td>
                 	<td style="padding:0px 50px 0px 150px"><a href="/pub/{{item.package_file}}">download</a></td>
                 </tr>
       {% endfor %}
       </table>
       {% endif %}
{% endblock %}



{% block content %}
{% endblock %}

{% block git_log %}
		
		{% if gitlog %}
		<div style="text-align:right">
		<form method="POST" action="." name="frm_by_autor" id="frm_by_autor">
			<label>By autor:</label> <select name="autor" OnChange="document.frm_by_autor.submit()">
			    <option value="ALL">ALL</option>
			 {% for item in autors %}			 		
			 		 <option{% ifequal item.autor|stringformat:"s" autor_selected %} selected="selected" {% endifequal %}>{{ item.autor }}</option>			 					 		
			 {% endfor %}
			 </select>
			 
		 </form>
		 </div>
		 
				
		<table>
		<tr>
			<th>Date</th>
			<th>Autor</th>
			<th>Message</th>
			<th>Files</th>
			<th>+</th>
			<th>-</th>
		</tr>
       {% for item in gitlog reversed %}                
                 <tr>
                 	<td style="padding:0px 10px 0px 0px" nowrap="nowrap">{{item.commit_date}}</td>
                 	<td nowrap="nowrap">{{ item.autor}}</td>
                 	<td style="padding:5px 50px 5px 10px">{{item.cmt|safe}}</td>
                 	<td nowrap="nowrap">{{item.files}}</td>
                 	<td nowrap="nowrap">+{{item.insertions}}</td>
                 	<td nowrap="nowrap">-{{item.deletions}}</td>
                 </tr>
       {% endfor %}
       </table>
       {% endif %}
       
{% endblock %}


{% block last_build %}
	{% if last_build %}
			<br>
			<b>Latest release</b> <a href="/pub/{{last_build.package_file}}">{{last_build.version_id}}</a>  ({{last_build.build_date}})	
			<br>
			<br>
			<br>
	{% endif %}
{% endblock %}

</div>
	
<div id="left">
	<div class="box">
			<h2>Twitter {{twitter_user}} :</h2>	
			<p>
			{% block tweets %}
				{% for item in tweets %}
				<b>{{item.created_at}} </b> 
				<br>
					{{item.text}} <br<br>
				{% endfor %}  
			{% endblock %}
			</p>
	</div>
			
	<div class="box">
	{% block left_menu %}
   	<h3>{{ left_menu.parent_cat_selected.title }}</h3>
	{% endblock %}
	</div>
		
    <div class="box">
	   <div style="font-size: 0.8em;">Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
	</div>
</div>
</div>
</body>
</html>
