{% extends "frontend/base.html" %}

{% block main_menu %}
	{% for item in top_bar.categories %}
		{% if  item.selected  %}
      		<li id="active"><a href="{{ prefix }}{{ item.url }}"  id="current">{{ item.short_title }}</a></li>
		{% else %}
      		<li><a href="{{ prefix }}{{ item.url }}">{{ item.short_title }}</a></li>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block left_menu %}
  

 

{% for item in left_menu.categories %}
  <p>
	{% if  item.selected  %}
  		<h4><a href="{{ prefix }}{{ item.url }}">{{ item.short_title }}</a></h4>
	{% else %}
  		<h4><a href="{{ prefix }}{{ item.url }}">{{ item.short_title }}</a></h4>
	{% endif %}
  </p>
{% endfor %}
  
{% endblock %}



{% block right_menu %}

{{ block.super }}
{% endblock %}

{% load markup %}
{% block content %}
	{% for art in category.main_articles %}
	<h3>{{ art.title }}</h3>
	<div>
	{{ art.text }}
	</div>
	{% endfor %}
	
	{% for art in category.articles %}
	<h3>{{ art.title }}</h3>
	{{ art.text|markdown  }}
	{% endfor %}
	
	{% if not category.main_articles and not category.articles %}
	<div>
	  <p>
	  </p>
</div>
	{% endif %}
	
{% endblock %}


{% block footer_right %}
	{% for item in top_bar.categories %}
        <a href="{{ prefix }}{{ item.url }}">{{ item.short_title }}</a> |
	{% endfor %}
{% endblock %}
